*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  text-align: center;
}
#root,
#__next {
  isolation: isolate;
}

#container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 2rem;
}

h1 {
  z-index: 1;
}

form {
  padding-bottom: 50%;
  display: flex;
  gap: 1rem;
  align-items: center;
}

form label {
  white-space: nowrap;
}
